$duration: 5s;
$flashmsg-text: #3c763d;
$flashmsg-bg: #dff0d8;
$flashmsg-border: #d6e9c6;

.flashmsg {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: calc(100% - 66px - 200px - 15px);
    padding: 15px 0;
    margin: 15px;
    color: $flashmsg-text;
    z-index: -999;
    &.success {
        -webkit-animation: flashmsg $duration ease-in; /* Safari 4+ */
        -moz-animation: flashmsg $duration ease-in; /* Fx 5+ */
        -o-animation: flashmsg $duration ease-in; /* Opera 12+ */
        animation: flashmsg $duration ease-in; /* IE 10+, Fx 29+ */
    }
    &.success { background-color: $flashmsg-bg; border: 1px solid $flashmsg-border; }
}