$duration: 5s;
$flashMsg-text: #3c763d;
$flashMsg-bg: #dff0d8;
$flashMsg-border: #d6e9c6;

.flash_msg {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: calc(100% - 66px - 200px - 15px);
  padding: 15px 0;
  margin: 15px;
  color: #FFF;
}

.success {
  @extend .flash_msg;
  background-color: $flashMsg-bg;
  border: 1px solid $flashMsg-border;
}

.alert {
  @extend .flash_msg;
  background-color: #ec3845;
}
