
.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
    // background: rgba(#FFF, 0.1);
    z-index: 50;
    
    .loader_bar{
        width: 20%;
        height: 3px;
        background: rgba($sub-light, 0.7);
        animation: loading 2.3s infinite;
    }
}
