$cast    : #03d7fc;
$play    : orange;
$checked : "\f00c", $turquoise ; 


/* Remove margins and padding from the list */
.summary {
  margin: 0;
  padding: 0;
  /* Style the list items */
  .item {
    position: relative;
    padding: 10px 0 20px 35px;
    font-size: 1em;
    transition: 0.4s;
    list-style-type: none;


    &:hover {  /* Gray background-color on hover */
      background: $gray;
      &:not(:last-child) {  /* Gray bordered on hover */
        border-bottom : 1px solid $gray-lightest;
      }
    }

    .vid {
      text-decoration:none;
      color:$gray-lightest;
    }
    
    &.fetched {
      background: $gray;
      
      /* Add a "checked" mark when fetched the subs */
      &::before {
          content: nth($checked, 1);
          font-family: FontAwesome;
          position: absolute;
          left: 10px;
          color: nth($checked, 2);
      }
    }
    
    
  /* Style the actions button */
  .actions{
    position: absolute;
    right:15px;

    a {
      color : white;
      text-decoration:none;
    }

    .btn {
      cursor :pointer;
      color: white;
      padding: 8px;
      border-radius: 50%;

      &.sub {
        &:hover{
            background-color: $primary;}
      } // .sub


      &.cast {
        &:hover:not(.active){
            background-color: $cast;}
        &.active {
            color : $cast;}
      } // .cast    

      &.play {
        /* color : $play ;*/
        &:hover{
            background-color: $play;}
      } // .play    


      &.info {
        &:hover{
            background-color: $primary;}
      } // .info 

    }// .btn
  }  // .actions
  } // li
} // ul

