
$primary: #311b92;
$primary-light : #6746c3;
$primary-dark : #000063;

$sub: #d50000;
$sub-light: #ff5131;
$sub-dark: #9b0000;



$turquoise: #00eec1;

$gray-dark: #515151;
$gray: #818181;
$gray-light: #cecece;
$gray-lightest: #eeeeee;
$white: #ffffff;

$blue-whale: #303240;
$blue-whale-o: rgba(48, 50, 64, .85);
$error: #fd5505;
$error-light: lighten($error,40%);


$trans: all .25s ease;